rust_i8 rust_i8
i8 rust_i8


rust_i16 rust_i16
i16 rust_i16


rust_i32 rust_i32
i32 rust_i32

rust_i64 rust_i64
i64 rust_i64

rust_i128 rust_i128
i128 rust_i128

rust_u8 rust_u8
u8 rust_u8


rust_u16 rust_u16
u16 rust_u16


rust_u32 rust_u32
u32 rust_u32

rust_u64 rust_u64
u64 rust_u64

rust_u128 rust_u128
u128 rust_u128

rust_bool rust_bool 
BOOL rust_bool

STRING STRING
